body {
    margin: 0;
    padding: 0;
}

nav {
    background: black;
    z-index: 99;
}

.text-ff {
    font-family: 'Quicksand', sans-serif;
}

.title-ff {
    font-family: 'Indie Flower', cursive;
}

.title-fs {
    font-size: 3em;
}

.uppercase {
    text-transform: uppercase;
}

.body-wrapper {
	position: relative;
	min-height: 100vh;
}

#body-wrapper {
	padding-bottom: 200px;
}

a {
color: #fff;
display: inline-block;
position: relative;
}

a:after {    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}

a:hover:after { 
width: 100%; 
left: 0; 
}

#navbarCollapse {
    padding: 0 0 30px 0;
    transition: ease-in 0.4s;
}

.content-img {
    height: 600px;
}

h1 {
padding: 30px 0 8px;
position: relative;
}

h1::before {
content: "";
position: absolute;
left: 50%;
bottom: 16px;
width: 150px;
height: 14px;
transform: skew(-25deg) translateX(-50%);
background: rgba(37, 113, 236, 0.576);
z-index: -1;
}

.text-divider {
display: flex;
align-items: center;
--text-divider-gap: 1rem;
}

.text-divider::before,
.text-divider::after {
content: '';
height: 1px;
background-color: silver;
flex-grow: 1;
}

.text-divider::before {
margin-right: var(--text-divider-gap);
}

.text-divider::after {
margin-left: var(--text-divider-gap);
}

h2 {
padding: 30px 0 8px;
position: relative;
}

h2::before {
content: "";
position: absolute;
left: 50%;
bottom: 15px;
width: 150px;
height: 14px;
transform: skew(-25deg) translateX(-50%);
background: rgba(31, 228, 97, 0.576);
z-index: -1;
}

